/* everything by default
* {
    line-height: 1.5;
    font-size:2rem;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    color: #666666;
}

header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header h1 {
    padding: 0.5rem;
    line-height: 140%;
}

nav {
    font-weight: bold;
    background-color: #f3f3f3;
}

h2 {
    color: #424242;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

dt {
    font-weight: bold;
    color: #003058;
}

.ut {
    font-weight: bold;
    color: #BA1C21;
}

footer {
    font-size: .70rem;
    font-style: italic;
}

#wrapped {
    width: 80%;
    margin-right: auto;
    margin-left: auto;


}

/* 
font-family:
    background-color:
    color:
 */


/* 

h2 {
    font-family: "Roboto", serif;
    background-color: greenyellow;
    color: rgb(5, 255, 255) margin 0;
    padding: 0;
}


p {
    line-height: 1.5rem;
} */